@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  font-family: "DM Sans", sans-serif;
}

.padding {
  padding-inline: 30px;
}

@media (min-width: 768px) {
  .padding {
    padding-inline: 50px; /* Orta ekranlar (768px ve üstü) */
  }
}

.background {
  @apply bg-gradient-to-r from-[#D8C4FC] via-[#E8DAFF] via-[#F3EDFF] to-[#F4F0F4];
}
.center {
  @apply flex flex-row justify-center items-center;
}
.center-col {
  @apply flex flex-col justify-center items-center;
}

.underline-offset {
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
}